module.exports = {
    logoHeader: 'logo.png',
    logoFooter: 'label.png',
    authSecret: 'AUTH_SECRET_KEY',
    endpoint: 'http://localhost:8080/#/',
    resetToken: 1000 * 60 * 60,
    authToken: 1 * 60 * 60,
    DB: {
        client: 'DB_CLIENT',
        connection: {
            host: 'DB_HOST',
            database: 'DB_NAME',
            user: 'DB_USER',
            password: 'DB_PASS'
        },
        seeds: {
            directory: './seeds/develepment'
        },
        pool: {
            min: 1,
            max: 10
        },
        migrations: {
            tableName: 'DB_MIGRATION'
        }
    },
    AWS: {
        Bucket: 'BUCKET_NAME',
        accessKeyId: 'BUCKET_PUBLIC',
        secretAccessKey: 'BUCKET_SECRET',
        uploadFolder: 'BUCKET_FOLDER',
        URL: 'BUCKET_URL'
    },
    MAIL: {
        adminMail: 'EMAIL_ADM',
        apiKey: 'EMAIL_API',
    }
}