module.exports = {
    authSecret: '',
    endpoint: '',
    resetToken: 0,
    authToken: 0,
    DB: {
        client: '',
        connection: {
            host: '',
            database: '',
            user: '',
            password: ''
        },
        pool: {
            min: 0,
            max: 0
        },
        migrations: {
            tableName: ''
        }
    },
    AWS: {
        Bucket: '',
        accessKeyId: '',
        secretAccessKey: '',
        uploadFolder: '',
        URL: ''
    },
    MAIL: {
        serviceMail: '',
        loginMail: '',
        passMail: '',
    }
}