/*.CodeMirror-selected, .CodeMirror-scroll {background:#CCCCCC !important;}*/
body, html{
    /* width:  100%;
    height: 100%;
    background: #FCFFFA url('/images/capa-ichigo-hollow.png') no-repeat right bottom;
    background-size: 100% 50%; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Stalinist One', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'MedievalSharp', cursive; */
    /* font-family: 'Saira Condensed', sans-serif; */
    /* font-family: 'Faster One', cursive; */
    /* font-family: 'Audiowide', cursive; */
    /* font-family: 'Ceviche One', cursive; */
    /* font-family: 'Bowlby One SC', cursive; */
    /* font-family: 'Stalinist One', cursive; */
}
.slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin-left:10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #666;
    float: left;
    text-align: center;
    border: 1px solid #222;
    /*border-radius: 10px;*/
    /*padding: 0;*/
    overflow: hidden;
}
.slider-item{
    margin: 0;
    padding: 0;
}
.slider-item img{
    /*width: 100%;*/
    max-height: 499px;
    background-size: 100% 50%;
    zoom: 1.5;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.left{
    position:absolute;
    top: 0;
    left: 0;
    /* padding: 25% 2%; */
    height: 100%;
    /* background-color: #E9FAB4; */
    /*border-color: #597C5E;*/
}
.right{
    position:absolute;
    top: 0;
    right: 0;
    /* padding: 25% 2%; */
    height: 100%;
    /* background-color: #E9FAB4; */
    /*border-color: #597C5E;*/
}
.left:hover, .right:hover{
    /* background: #D8E973; */
}
.container-load{
    position:relative;
}
.loading{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 99.9%;
    z-index: 1000;
    background-image: url('/images/loading-task.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(10,23,55,0.5);
    background-size: 8%;
}
.content{
    padding: 1.5%;
    background: #FCFFFA;
    border: 1px solid #d2d2d2;
}
.content-small{
    width: 45%;
    margin: 10% auto;
}
.content-medium{
    width: 50%;
    margin: 3% auto;
}
.border{
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    /*border-top: none;*/
}
.border-side-bottom{
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.image-radius
{
    border-radius: 50%;
    width: 35px;
    height: 30px;
    box-shadow: 0 0 5px #000;
}
img{
    cursor: pointer;
}
.image-thumb{
    margin:auto;
    height: 200px !important;
}
.image-thumb-2{
    height: 180px !important;
}
.image-thumb-3{
    width: 170px !important;
    height: 200px !important;
}
.image-thumb-4{
    width: 100px !important;
    height: 80px !important;
    /* border: 2px solid #DFDEDD;
    border-radius: 5px; */
}
.image-thumb-5{
    width: 80px !important;
    height: 60px !important;
    /* border: 2px solid #DFDEDD;
    border-radius: 5px; */
}
.navbar-blue > .container-fluid > .navbar-header > .navbar-brand{
    padding-top: 3px !important;
    margin: 0 !important;
    color: #FEFEFE;
    font-size: 25px;
    font-family: 'American Captain';
    src: url('/fonts/american_captain.ttf');
    letter-spacing: 2px;
}
.navbar-blue > .container-fluid > .navbar-header > .navbar-brand img{
    /* display: inline; */
    padding: 0 !important;
    width: 100px
}
.navbar-blue > .container-fluid > .navbar-header > .navbar-brand:hover{
    color: #FEFEFE;
}
.image-sidebar{    
    width: 35px !important;
    height: 30px !important;
    /* border: 2px solid #DFDEDD;
    border-radius: 5px; */
}
.tab-form .tab-pane {
    margin: 20px 20px;
}
.tab-form-bg{
    background: #F9F9F9;
}
.centerlize-padding-grey{
    text-align: center;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #DADADA;
}
.padding-grey{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #DADADA;
}
.clear{
    clear: both;
}
.dropdown-menu>li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-menu>li:hover{
    background: #EDEFED;
}
.border-left{
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0;
    padding: 3%;
}
.border-left-blue{
    border-left: 4px solid #265a88;
}
.border-left-red{
    border-left: 4px solid #E14e4a;
}
.border-left-green{
    border-left: 4px solid #419641;
}
.scroll-420 {
    max-height: 420px;
    overflow: auto;
}
.scroll-380 {
    max-height: 380px;
    overflow: auto;
}
.btn-blue
{
    color: #fff;
    background-color: #6E9FDD;
    border-color: #6E9FDD;
}
.btn-blue:hover,
.btn-blue:focus, 
.btn-blue:visited,
.btn-blue:active{
    color: #fff;
    background-color: #5E8FCD;
    border-color: #5E8FCD;
}
.btn-blue-inverse{
    color: #fff;
    background-color: #5E8FCD;
    border-color: #5E8FCD;
}

.btn-blue-inverse:hover,
.btn-blue-inverse:focus, 
.btn-blue-inverse:visited,
.btn-blue-inverse:active{
    color: #fff;
    background-color: #6E9FDD;
    border-color: #6E9FDD;
}
.panel-blue{
    color: #2F2F2F;
    border-color: #6E9FDD;
}
.panel-blue>.panel-heading{
    color: #fdfdfd;
    background-color: #6E9FDD;
}
.navbar-blue,
.navbar-blue .navbar-nav>.open>.dropdown-menu{
    border-radius: 0;
    background-color: #5E8FCD;
    border-color: #5E8FCD;
}
.navbar-blue ul>li>a{
    color: #fff !important;
}
.navbar-blue .navbar-nav>li>a:hover, 
.navbar-blue .navbar-nav>li>a:focus,
.navbar-blue .navbar-nav>.open>a, 
.navbar-blue .navbar-nav>.open>a:focus, 
.navbar-blue .navbar-nav>.open>a:hover,
.navbar-blue .navbar-nav>.open>a:visited,
.navbar-blue .navbar-nav>.open>a:active,
.navbar-blue .navbar-nav>.open>.dropdown-menu>li>a:focus, 
.navbar-blue .navbar-nav>.open>.dropdown-menu>li>a:hover,
.navbar-blue .navbar-nav>.open>.dropdown-menu>li>a:visited,
.navbar-blue .navbar-nav>.open>.dropdown-menu>li>a:active{
    background-color: #6E9FDD;
}

.navbar-blue .navbar-toggle {
  border-color: #D9D9D9;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #D9D9D9;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #F2F2F2;
}
.navbar-blue .navbar-toggle:focus,
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:active,
.navbar-blue .navbar-toggle:visited
{
    background-color: #6E9FDD;
}
.sign-in-up{
    float: right;
    padding-top: 1%;
    padding-right: 0.4%;    
}
.sign-in-up > a,
.sign-in-up > a:visited, 
.sign-in-up > a:active, 
.sign-in-up > a:hover, 
.sign-in-up > a:focus
{
    font-weight: bold;
    font-size: 1.14em;
    color: #F5F5F5 !important;
    text-decoration: none
}
.sign-in-up > span{
    color: #3D6DAB;
    font-weight: bold;
    font-size: 1.0em;
    border-color: #5E8FCD;
}
.profile-container{
    padding-top: 10px !important;
    height: 50px;
}
.profile-container span{
    padding-top: 15px !important;
    word-wrap: break-word;
}
.profile-container:hover{
    opacity: 1.0;
}
.signin-email > span{
    font-size: 19px;
    margin-left: 10%;
    text-align: center;
    color: #4F4F4F;
}
.signin-email > a{
    color: #4F4F4F;
    text-decoration: none;
}
.signin-form{
    width: 30%;
    margin: auto;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
}
.signin-option >.signin-option-item{
    padding: 10px;
    border:1px solid #E2E2E2;
    margin-bottom: 6px;
    border-radius: 4px;
    text-align: center
}
.signin-form-right{
    float: right;
    border: 1px solid #D2D2D2;
    padding: 20px;
    border-radius: 4px;
}
.signin-form-image{
    float: right
}
.signin-form-image > img{
    width: 540px;
    border: 1px solid #D2D2D2;
    padding: 4px;
    border-radius: 4px;
}
.box-info{
    padding: 20px;
    margin: 10px 0;
    color: #fff;
    background: #6E9FDD;
}
.line-expired-on{
    color: #fff;
    padding: 0 3%;
    border-radius: 5px;
    background: #85C985;
}
.line-expired-off{
    color: #fff;
    padding: 0 3%;
    border-radius: 5px;
    background: #E25e5a;
}
.delete-abs{
    position: absolute;
    right: 12px;
    top: 8px;
    text-shadow: none;
    color: #E14e4a !important;
    padding: 0 !important;
    font-size: 22px !important;
    border-radius: 50% !important;
    cursor: pointer;
    opacity: 1;
}
.image-preview-modal {
    background-color:rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute !important; 
    z-index: 1000;
    animation: 0.6s myAni;
}
.image-preview-modal img{
    width: 75%;
    height: 75%;
    position: relative;
    top: 12.5%;
    left: 12.5%;
    border: 4px groove #d2d2d2;
    border-radius: 5px;
}

.input-custom-group{
    width: 100%;
}
.input-custom-group > .input-custom{
    width: 50%;
    float:left;
}
.input-custom{
    margin-bottom: 12px;
    padding: 0 6px;
}
.input-custom input[type=text],
.input-custom input[type=password]{
    padding-left: 6px;
    padding-bottom: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ADAEAF;
    color: #5F5D5e;
    opacity: 0.6;
    width: 100%;
    border-radius: 0 0 0 3px;
}
.input-custom label:not(.input-custom-radio) input[type=radio]{
    margin: 2%;
    font-size: 22px;
}
.input-custom label:not(.input-custom-radio){
    width: 100%;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 12px;
    /* padding-left: 4px; */
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}
.input-custom input:focus{
    outline: none;
    border-bottom: 2px solid #6E9FDD;
    padding-bottom: 5px;
    /* opacity: 1; */
}
/**
* Custom radio active inactive
*/
.input-custom > .input-custom-radio{
    float: left;
    background: #E8E8E8;
    padding: 5px 10px;
    width: 50%;
    font-weight: bolder;
}
.input-custom > label.radio-left{
    border-radius: 5px 0 0 5px;
    border: 1px solid #bEbEbE;
    border-right: none;
}
.input-custom > label.radio-right{
    border-radius: 0 5px 5px 0;
    border: 1px solid #bEbEbE;
    border-left: none;
}
.input-custom > .input-custom-radio input[type=radio]{
    display: none;
}
.input-custom > .radio-blue{
    background: #4E7FBE;
    color: #FEFEFE;
}

.custom-font{
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */
    font-size: 1.02em;
    letter-spacing: 1px;
}

.container-custom{
    width: 65%;
    margin-right: 25px;
    float: right;
}
.vertica-sidebar{
    width: 25%;
    height: auto;
    float: left;
    background: #FCFFFA;
    border:1px solid #E2E2E2;
    border-radius: 10px 10px 0 0;
    margin-left: 25px;
    position: relative;
    text-align: center;
}
.vertica-sidebar hr{
    margin: 0;
}
.user-info > a{
    color: #6E9FDD !important;
    padding: 5px;
    margin: auto;
}
.user-info > a:nth-of-type(1){
    float: left;
}
.user-info > a:nth-of-type(2){
    float: right;
}
.user-info > img{
    width: 90%;
    padding-top: 8px;
    border-radius: 50%;
}

.vertica-sidebar > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: block;
}
.vertica-sidebar > ul > li > a{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    text-decoration: none;
    color: #6E9FDD !important;
    text-align: left;
    border-top: 1px solid #EFEFEF;
}
.vertica-sidebar > ul > li > a:hover{
    /* background: #FCFCEF; */
    background: #F8F8FB;
}

.file-group-item img{
    width: 100% !important;
}
@keyframes myAni {
  from { background-color:rgba(0, 0, 0, 0); }
  to   { background-color:rgba(0, 0, 0, 0.8); }
}

@media (max-width: 767px) {
  .user-info{
      width: 90%;
      margin: 0 25px 25px 25px;
  }
  .container-custom{
      float: none;
      clear: both;
      width: 90%;
      margin: 25px;
  }
}