<div ng-class="{'col-md-12': isNormalType(), 'col-md-3': isDetailsType()}" style="margin-top: 20px">
    <div class="row">        
        <a role="button" class="thumbnail">
            <button type="button" class="close delete-abs" ng-click="deleteImage()"><span aria-hidden="true">&times;</span></button>
            <!-- <button type="button" class="btn btn-blue btn-sm" ng-click="download(model)">
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>-->
            <image-s3 model="model" alt="profile" uib-tooltip="{{ model.image.name }}"></image-s3>
        </a>    
    </div>
</div>

<div class="col-md-9" ng-if="isDetailsType()">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Nome</th>
            <td>{{model.image.name}}</td>
        </tr>
        <tr>
            <th>Tamanho</th>
            <td>{{model.image.size/1024/1024|number:2}}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{model.image.type}}
                {{width}}
            </td>
        </tr>
    </table>
</div>