<div ng-class="{'col-md-3': isDetailsType()}">
    <span class="delete-abs fa fa-times-circle" ng-click="$event.stopPropagation();deleteImage()"></span>
    <image-s3 model="model" alt="profile" uib-tooltip="{{ model.image.name }}"></image-s3>
</div>

<div class="col-md-9" ng-if="isDetailsType()">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Nome</th>
            <td>{{model.image.name}}</td>
        </tr>
        <tr>
            <th>Tamanho</th>
            <td>{{model.image.size/1024/1024|number:2}}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{model.image.type}}
                {{width}}
            </td>
        </tr>
    </table>
</div>