<nav class="navbar navbar-blue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-toggle" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/#!/" uib-tooltip="Home" tooltip-placement="bottom" tooltip-trigger="mouseenter">
                <img src="/images/icon.png" class="image-sidebar" alt="Task-List App" title="Task-List App">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse custom-font" ng-if="auth" id="navbar-toggle">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="auth.isSuperUser">
                    <a ng-href="/#!/users">
                        <i class="fa fa-user"></i>
                        Usuário
                    </a>
                </li>
                <li>
                    <a ng-href="/#!/tasks">
                        <i class="fa fa-tasks"></i>
                        Tarefa
                    </a>
                </li>
                <li>
                    <a href="/#!/myData/{{auth.id}}" class="profile-container">
                        <image-s3  ng-if="auth" model="auth" id="profile-container-image" class="image-radius"></image-s3>
                        {{auth.username}}
                    </a>
                </li>
                <li>
                    <a role="button" ng-click="requestOnSignout()">
                        <i class="fa fa-sign-out"></i>
                        Sair
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <div class="sign-in-up" ng-if="!auth">
            <a ng-href="/signup" accesskey="U">
                Criar Conta
                <span class="fa fa-sign-up"></span>
            </a>
            <span>ou</span>
            <a href="/signin" accesskey="I">
                Acessar
                <span class="fa fa-sign-in"></span>
            </a>
        </div>
    </div><!-- /.container-fluid -->
</nav>