<nav class="navbar navbar-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-toggle" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" ng-href="/#!/" uib-tooltip="Home - Task List" tooltip-placement="bottom" tooltip-trigger="mouseenter">
                <img ng-src="./images/logo-banner-3.gif?hasshing={{hasshing}}" alt="Task-List App" title="Task-List App">
            </a>
        </div>

        <!-- <div class="collapse navbar-collapse custom-font" ng-if="auth" id="navbar-toggle">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="auth.isSuperUser">
                    <a ng-href="/#!/users">
                        <i class="fa fa-user"></i>
                        Usuário
                    </a>
                </li>
                <li>
                    <a ng-href="/#!/tasks">
                        <i class="fa fa-tasks"></i>
                        Tarefa
                    </a>
                </li>
                <li>
                    <a href="/#!/myData/{{auth.id}}" class="profile-container">
                        <image-s3  ng-if="auth" model="auth" id="profile-container-image" class="image-radius"></image-s3>
                        {{auth.username}}
                    </a>
                </li>
                <li>
                    <a role="button" ng-click="requestOnSignout()">
                        <i class="fa fa-sign-out"></i>
                        Sair
                    </a>
                </li>
            </ul>
        </div> -->
        <div class="sign-in-up" ng-if="!auth">
            <a ng-href="/signup" accesskey="U">
                Criar Conta
                <span class="fa fa-sign-up"></span>
            </a>
            <span>ou</span>
            <a href="/signin" accesskey="I">
                Acessar
                <span class="fa fa-sign-in"></span>
            </a>
        </div>
    </div>
</nav>

<div class="vertica-sidebar custom-font" ng-if="auth">
    <div class="user-info-image" ng-class="{'image-info-full': showImage}">
        <!-- <span class="pull-right btn btn-default" ng-click="showImage=!showImage">
            <i class="fa fa-bars"></i>
        </span> -->
        <image-s3 ng-if="auth" model="auth" has-preview="true" id="profile-container-image"></image-s3>
    </div>

    <div class="menu-itens">
        <div class="user-info-link">
            <a href="/#!/myData/{{auth.id}}">
                {{auth.username}}
            </a>
            <a role="button" ng-click="requestOnSignout()">
                <i class="fa fa-sign-out"></i>
                Sair
            </a>
        </div>
        
        <div class="clear"></div>
        
        <ul>
            <li ng-if="auth.isSuperUser">
                <a ng-href="/#!/users">
                    <i class="fa fa-user"></i>
                    Usuário
                </a>
            </li>
            <li>
                <a ng-href="/#!/tasks">
                    <i class="fa fa-tasks"></i>
                    Tarefa
                </a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>

</div>