<!-- <div class="border-side-bottom content content-large" ng-controller="UserController" ng-init="findOne()"> -->
<div class="border-side-bottom content content-large" ng-controller="UserController" ng-init="findOne()">
    
    <header-grid lines="lines" save="false"></header-grid>
    
    <form ng-submit="save()" class="form-horizontal">
        <uib-tabset justified="true">
            <uib-tab heading="dados">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Status
                    </label>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="status" ng-model="user.status" ng-value="true">
                            Ativo
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" ng-model="user.status" ng-value="false">
                            Inativo
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Usuário</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="username" class="form-control" ng-model="user.username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-4">E-mail</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="email" class="form-control" ng-model="user.email">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-4">Nome</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="firstName" class="form-control" ng-model="user.firstName">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-4">Sobrenome</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="lastName" class="form-control" ng-model="user.lastName">
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Foto" ng-if="user._id != undefined && sendUrl != undefined">
                
                <form-uploader many="false" allow-type="gif|jpg|jpeg|png|x-png|pjpeg" send-url="sendUrl" remove-url="removeUrl"></form-uploader>
                
                <div ng-if="user.image">
                    <image-container-s3 model="user" render-type="details"></image-container-s3>
                </div>
            </uib-tab>
        </uib-tabset>

        <div ng-if="isSimple">
            <div class="button-group">
                <button class="btn btn-blue" uib-tooltip="Salvar" tooltip-placement="top" tooltip-trigger="mouseenter">
                    Salvar
                </button>
            </div>
        </div>
        
        <div ng-if="!isSimple">
            <form-buttons render-text="icon" type="save" id="user._id" name="moduleName" actions="moduleActions"></form-buttons>
        </div>
    </form>
</div>