<div class="content" ng-controller="UserController" ng-init="findOne()">
    
    <header-grid lines="lines" save="false"></header-grid>
    
    <form ng-submit="save()" class="form-horizontal">
        <div ng-class="{'col-md-8': (user._id)}">
           
            <div class="input-custom input-full">
                <label style="margin-bottom: 12px">Status</label>
                <label class="input-custom-radio text-center radio-left" ng-class="{'radio-blue': user.status == true}">
                    <input type="radio" name="status" ng-model="user.status" ng-value="true"> Ativo
                </label>
                <label class="input-custom-radio text-center radio-right" ng-class="{'radio-blue': user.status == false}">
                    <input type="radio" name="status" ng-model="user.status" ng-value="false"> Inativo
                </label>
            </div>

            <div class="input-custom-group">
                <div class="input-custom">
                    <label>Nome</label>
                    <input type="text" placeholder="Nome" ng-model="user.firstName">
                </div>
                <div class="input-custom">
                    <label>Sobrenome</label>
                    <input type="text" placeholder="Sobrenome" ng-model="user.lastName">
                </div>
            </div>
            
            <div class="input-custom-group">
                <div class="input-custom">
                    <label>E-mail</label>
                    <input type="text" placeholder="E-mail" ng-model="user.email">
                </div>
                
                <div class="input-custom">
                    <label>Usuário</label>
                    <input type="text" placeholder="username" ng-model="user.username">
                </div>
            </div>
            
            <div class="input-custom-group">
                <div class="input-custom">
                    <label>
                        Senha
                        <i class="fa" ng-click="showPwd = !showPwd" ng-class="{'fa-eye-slash': !(showPwd),'fa-eye': showPwd}"></i>
                    </label>
                    <input type="{{!(showPwd) ? 'password' : 'text'}}" placeholder="Senha" ng-model="user.password">
                </div>
                <div class="input-custom">
                    <label>
                        Confirmação de senha
                        <i class="fa" ng-click="showCfm = !showCfm" ng-class="{'fa-eye-slash': !(showCfm),'fa-eye': showCfm}"></i>
                    </label>
                    <input type="{{!(showCfm) ? 'password' : 'text'}}" placeholder="Confirmação" ng-model="user.confirmation">
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-if="user._id != undefined">
            <form-uploader many="false" allow-type="gif|jpg|jpeg|png|x-png|pjpeg" send-url="sendUrl" remove-url="removeUrl">
                <div ng-switch="user.image">
                    <image-container-s3 ng-if="user.image!=null" model="user" render-type="normal"></image-container-s3>
                    <div ng-if="user.image==null">
                        <img src="./images/upload.png" width="80">
                        <p>Arrate aqui ou clique para efetuar o upload</p>
                    </div>
                </div>
            </form-uploader>
            <!-- <image-container-s3 model="user" render-type="normal"></image-container-s3> -->
        </div>
        
        <div class="clear"><br></div>

        <div ng-if="user._id != undefined && sendUrl != undefined">
            <!-- <form-uploader many="false" allow-type="gif|jpg|jpeg|png|x-png|pjpeg" send-url="sendUrl" remove-url="removeUrl"></form-uploader> -->
        </div>

        <div ng-if="isSimple">
            <div class="button-group">
                <button class="btn btn-blue" uib-tooltip="Salvar" tooltip-placement="top" tooltip-trigger="mouseenter">
                    Salvar
                </button>
            </div>
        </div>
        
        <div ng-if="!isSimple">
            <form-buttons render-text="icon" type="save" id="user._id" name="moduleName" actions="moduleActions"></form-buttons>
        </div>
    </form>
</div>