<section class="content" ng-init="findOne();">
    <header-grid lines="lines" save="false"></header-grid>    
    <div class="col-md-4" ng-if="user.image != null">
        <div class="row">
            <div class="col-xs-6 col-md-12">
                <a role="button" class="thumbnail">
                    <image-s3 model="user" alt="profile" has-preview="true" tooltip="{{ user.image.name }}"></image-s3>
                </a>
            </div>
        </div>
    </div>
    
    <div ng-class="{'col-md-12': user.image == null, 'col-md-8': user.image != null}" ng-if="user._id">
        <table class="table table-bordered table-hover">
            <tr> 
                <th>Nome</th>
                <td>{{user.firstName}}</td>
            </tr>
            <tr> 
                <th>SobreNome</th>
                <td>{{user.lastName}}</td>
            </tr>
            <tr> 
                <th>E-mail</th>
                <td>{{user.email}}</td>
            </tr>
            <tr> 
                <th>Usuário</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td><label-item has-icon="true" item="status" index="user.status"></label-item></td>
            </tr>
        </table>
    </div>

    <div class="clear"><br></div>

    <uib-accordion close-others="oneAtATime" ng-show="user.userApis.length>0">
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
                Apis registradas
                <i class="pull-right glyphicon"></i>
            </uib-accordion-heading>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Plataforma</th>
                    <th>Nome</th>
                    <th>Versão</th>
                    <th>Expiração</th>
                    <th>Criado</th>
                    <th>Remover</th>
                </tr>
                <tr ng-repeat="api in user.userApis">
                    <td>{{api.platform == 1 ? 'Mobile' : 'Outros'}}</td>
                    <td>
                        <span ng-switch="api.name">
                            <span ng-switch-when="android" class="fa fa-android"></span>
                            <span ng-switch-when="ios" class="fa fa-apple"></span>
                            <span ng-switch-default="" ng-bind="api.name"></span>
                        </span>
                    </td>
                    <td>{{api.version}}</td>
                    <td>
                        <label class="line-expired-{{checkExpiration(api.expires) ? 'on': 'off'}}">
                            <i class="fa fa-{{checkExpiration(api.expires) ? 'check': 'times'}}-circle"></i>
                            {{api.expires | date:'dd/MM/yyyy HH:mm:ss'}}
                        </label>
                    </td>
                    <td>{{api.created | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="text-center">
                        <a role="button" ng-click="deleteToken(user._id, api._id)" class="no-underline label label-danger"
                            uib-tooltip="Remover" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </uib-accordion>
    
    <form-buttons render-text="icon" type="view" id="user._id" name="moduleName" actions="moduleActions" label="Criado em:" extra-data="user.created | date:'fullDate'"></form-buttons>
</section>