<section class="border-side-bottom content content-large" ng-init="findOne();">
    <header-grid lines="lines" save="false"></header-grid>    
    <div class="col-md-4" ng-if="user.image != null">
        <div class="row">
            <div class="col-xs-6 col-md-12">
                <a role="button" class="thumbnail">
                    <image-s3 model="user" alt="profile" tooltip="{{ user.image.name }}"></image-s3>
                </a>
            </div>
        </div>
    </div>
    
    <div ng-class="{'col-md-12': user.image == null, 'col-md-8': user.image != null}" ng-if="user._id">
        <table class="table table-bordered table-hover">
            <tr> 
                <th>Nome</th>
                <td>{{user.firstName}}</td>
            </tr>
            <tr> 
                <th>SobreNome</th>
                <td>{{user.lastName}}</td>
            </tr>
            <tr> 
                <th>E-mail</th>
                <td>{{user.email}}</td>
            </tr>
            <tr> 
                <th>Usuário</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td><label-item has-icon="true" item="status" index="user.status"></label-item></td>
            </tr>
        </table>
    </div>
    
    <form-buttons render-text="icon" type="view" id="user._id" name="moduleName" actions="moduleActions" label="Criado em:" extra-data="user.created | date:'fullDate'"></form-buttons>
</section>