<div class="content" ng-init="findOne()">
    
    <header-grid lines="lines" save="false"></header-grid>
    
    <form ng-submit="save()" class="form-horizontal tab-form">
        
        <div class="input-custom">
                <label>Status</label>
            <label class="input-custom-radio radio-left" ng-class="{'radio-blue': task.status == 1}">
                <input type="radio" name="status" ng-model="task.status" ng-value="1">
                Ativo
            </label>
            <label class="input-custom-radio radio-right" ng-class="{'radio-blue': task.status == 0}">
                <input type="radio" name="status" ng-model="task.status" ng-value="0">
                Inativo
            </label>
        </div>
        
        <div class="input-custom">
            <label>Título</label>
            <input type="text" placeholder="Título" ng-model="task.title">
        </div>
        
        <div class="input-custom-group">
            <div class="input-custom">
                <label>Inicio</label>
                <input type="text" placeholder="Inicio" ng-model="task.startDate" uib-datepicker-popup="{{'dd/MM/yyyy'}}" custom-class=""
                    is-open="openedStart" show-button-bar="false" ng-click="openedStart = true">
            </div>
            <div class="input-custom">
                <label>Termino</label>
                <input type="text" placeholder="Termino" ng-model="task.endDate" uib-datepicker-popup="{{'dd/MM/yyyy'}}" is-open="openedEnd"
                    show-button-bar="false" ng-click="openedEnd = true">
            </div>
        </div>
        
        <div class="input-custom-group">
            <div class="input-custom">
                <label>Prioridade</label>
                <div class="padding-grey">
                    <span ng-class="{'text-info': task.priority==1, 'text-warning': task.priority==2, 'text-danger': task.priority==3}">
                        <span uib-rating ng-model="task.priority" max="3" on-hover="ratingPriority(value)" style="cursor: pointer" aria-labelledby="custom-icons-1"></span>
                        <span ng-bind="priorities[task.priority].name"></span>
                    </span>
                </div>
            </div>
            
            <div class="input-custom">
                <label>Situação</label>
                <select ng-model="task.situation" class="form-control" placeholder="select a situation for this task...">
                    <option value="{{key}}" ng-selected="(task.situation==key?'selected':'')" ng-repeat="(key, option) in situations">{{option.name}}</option>
                </select>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-blue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Descrição
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <textarea ui-tinymce="tinymceOptions" ng-model="task.description" placeholder="descrição..." class="form-control" rows="2"></textarea>
                </div>
            </div>
        </div>

        <form-buttons render-text="icon" type="save" id="task._id" name="moduleName" actions="moduleActions"></form-buttons>
    </form>
</div>