<section class="content" ng-init="findOne();">
    <header-grid lines="lines" save="false"></header-grid>

    <div ng-if="task.remove_app_date!=null">
        <div class="box-info">
            Removido via celular as {{task.remove_app_date | date: "dd/MM/yyyy HH:mm:ss"}}. Deseja remove-la?
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-danger" ng-click="$root.delete(task._id)">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover" ng-if="task._id"> 
        <tr ng-if="task.description">
            <td colspan="2">
                <strong class="center" ng-bind="task.title"></strong>
                <hr>
                <div ng-bind-html="task.description | trustAsHtml"></div>
            </td>
        </tr>
        <tr ng-if="task.description==''"> 
            <th>Titulo</th>
            <td>
                {{task.title}}
            </td>
        </tr>
        <tr> 
            <th>Periodo</th>
            <td>
                <span ng-show="task.startDate!=null">
                    <strong>
                        Inicio em:
                    </strong>
                    <em class="text-muted">
                        <span ng-bind="task.startDate | date:'dd/MM/yyyy'"></span>
                    </em>
                </span>
                <span ng-show="task.endDate!=null">
                    <strong>
                        Termino em:
                    </strong>
                    <em class="text-muted">
                        <span ng-bind="task.endDate | date:'dd/MM/yyyy'"></span>
                    </em>
                </span>
            </td>
        </tr>
        <tr> 
            <th>Situação</th>
            <td>
                <label-item has-icon="true" index="task.situation" item="situation"></label-item>
            </td>
        </tr>
        <tr> 
            <th>Prioridade</th>
            <td>
                <label-item has-icon="true" index="task.priority" item="priority"></label-item>
            </td>
        </tr>
        <tr> 
            <th>Status</th>
            <td>
                <label-item has-icon="true" item="status" index="task.status"></label-item>
            </td>
        </tr>
    </table>
    
    <div class="clear"><br/></div>
    
    <div class="panel panel-warning" ng-if="task.integrationApiId">
        <div class="panel-heading">Enviado via celular.</div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Plataforma</th>
                <th>Descrição</th>
                <th>Criado</th>
                <th ng-if="task.integrationApiId.updated">editado</th>
                <th ng-if="task.integrationApiId.removed">Removido em</th>
            </tr>
            <tr>
                <td>{{task.integrationApiId.platform == 1 ? 'Mobile' : 'Outros'}}</td>
                <td>{{task.integrationApiId.description}}</td>
                <td class="alert alert-success">
                    {{task.integrationApiId.created | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td ng-if="task.integrationApiId.updated" class="alert alert-info">
                    {{task.integrationApiId.updated | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td ng-if="task.integrationApiId.removed" class="text-right">
                    <a role="button" ng-click="$root.delete(task._id)" class="no-underline btn btn-danger" uib-tooltip="Deseja remove-la definitivamente?" tooltip-placement="top"
                        tooltip-trigger="mouseenter">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{task.integrationApiId.removed | date:'dd/MM/yyyy HH:mm:ss'}}
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <form-buttons render-text="icon" type="view" id="task._id" name="moduleName" actions="moduleActions" label="Criado em:" extra-data="task.created | date:'fullDate'"></form-buttons>
</section>