<section class="border-side-bottom content content-large" ng-init="findOne();">
    <header-grid lines="lines" save="false"></header-grid>
    
    <div class="col-md-12" ng-if="task.description">
        <strong ng-bind="task.title"></strong>
        <div ng-bind-html="task.description | trustAsHtml" class="alert"></div>
    </div>

    <div class="alert alert-warning" ng-if="task.sync_date!=null">
        Enviado via celular.
        <span class="pull-right">Sincronizado em {{task.sync_date}}</span>
    </div>
    <table class="table table-bordered table-hover" ng-if="task._id"> 
        <tr ng-if="task.description==''"> 
            <th>Titulo</th>
            <td>
                {{task.title}}
            </td>
        </tr>
        <tr> 
            <th>Periodo</th>
            <td>
                <span ng-show="task.start_date!=null">
                    <strong>
                        Inicio em:
                    </strong>
                    <em class="text-muted">
                        <span ng-bind="task.start_date | date:'dd/MM/yyyy'"></span>
                    </em>
                </span>
                <span ng-show="task.end_date!=null">
                    <strong>
                        Termino em:
                    </strong>
                    <em class="text-muted">
                        <span ng-bind="task.end_date | date:'dd/MM/yyyy'"></span>
                    </em>
                </span>
            </td>
        </tr>
        <tr> 
            <th>Situação</th>
            <td>
                <label-item has-icon="true" index="task.situation" item="situation"></label-item>
            </td>
        </tr>
        <tr> 
            <th>Prioridade</th>
            <td>
                <label-item has-icon="true" index="task.priority" item="priority"></label-item>
            </td>
        </tr>
        <tr> 
            <th>Status</th>
            <td>
                <label-item has-icon="true" item="status" index="task.status"></label-item>
            </td>
        </tr>
    </table>
    
    <div class="clear"></div>

    <form-buttons render-text="icon" type="view" id="task._id" name="moduleName" actions="moduleActions" label="Criado em:" extra-data="task.created | date:'fullDate'"></form-buttons>
</section>